*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Coiny';
}

.content-box{
    min-height: 80vh;
    width: 100%;
    background-color: #017c74;
    position: relative;
    z-index: -1;
}

.header hr{
<<<<<<< HEAD
    border-top: 5px solid black;
}
.hero {
    text-align: center;
    margin: 20px 0;
}

/* Brown Leaf Styling */
.leaf-image-brown img {
    width: 150px; /* Size for the brown leaf */
    transform: translate(-500px, -250px)
}

/* Orange Leaf Styling */
.leaf-image-orange img {
    width: 180px; /* Size for the orange leaf */
    position: absolute;
    transform: translate(500px, -500px)
}

/* Yellow Leaf Styling */
.leaf-image-yellow img {
    width: 150px; /* Size for the yellow leaf */
    position: absolute;
    transform: translate(300px, -850px)
}

/* Optional styling for lines */
.line {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #ccc;
}
=======
    border-top: 7px solid black;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 75px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links i{
    color: #fff;
    margin-right: 2px;
}

.title-box{
    font-size: 50px;
    border-radius: 60px;
    background: black;
    color: white;
    width: 450px;
    min-height: 175px;
    text-align: center;
    line-height: 185px;
    transform: translate(50%, -50%);
    z-index: 2;
}
>>>>>>> 7db57f901d6f7b3932a19dbbaa2e0389814c7353
