*
{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue';
}
.header{
    min-height: 100vh;
    width: 100%;
    background: rgb(231,227,199);
    background-position: center;
    background-size: cover;
    position: relative;
}