*
{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue';
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 3, 0.5), rgba(0,0,3,0.5)), url(../images/Download_Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background:#a1e8ba;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%
}

nav img{
    width: 60px;
}


.text-box{
    width: 60%;
    color: #fff;
    position: absolute;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 20%;
    text-align: center;
    padding-bottom: 5%;
}

.text-box h1{
    font-size: 62px;
    margin-top: 100px;
    font-weight: 500;
}

.text-box p{
    margin: 8px 0 30px;
    font-size: 14px;
    color: #fff;
    margin-top: 25px;
}


.download-btn {
    text-decoration: none;
    color: #fff;
    border: 1.5px solid #a1e8ba;
    padding: 12px 34px;
    font-size: 13px;
    background:  transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.download-btn:hover{
    border: 1px solid #a1e8ba;
    background: #a1e8ba;
    transition: 1s;
}


/*------------Download section------------*/

.download-sec{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.envelope {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.download-mobile{
    flex-basis: 50%;
    color: #000;
    position: absolute;
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: 100px;
    background: #f0fdf5;
    border-radius: 15%;

}

.download-mobile h1{
    font-size: 33px;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}


.phone-image{
    flex-basis: 30%;
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
}

.phone-image img{
    width: 90%;
    margin-top: 10%;
}

.download-images{
    display: block;
    margin-top: 15%;
}

.mobile-buttons{
    display: inline-block;
    width: 48%;
    margin-left: 5%;
    
}

.qrcode{
    display: inline-block;
    width: 35%;
    border-radius: 10%;
}



/*---------footer---------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer hr{
    margin-top: 5%;
}
.footer h4{
    margin-top: 2%;
    margin-bottom: 8px;
    font-weight: 600;
}

.icons .fa-brands{
    color: #a1e8ba;
    margin: 6px 6px;
    cursor: pointer;
}

.privacy-policy{
    color: lightgrey;
    margin-top: 2%;
    text-decoration: underline;
}
.privacy-policy:hover{
    color:#a1e8ba;
}

